body{
  background: url('taee.gif') no-repeat /*no-repeat fixed*/;
  background-size: 210vh;
  font-family: Arial;
  text-align: center;
  

}
ul li{
  margin: 0px;
  padding: 0px;
  width: 200px;
  height: 41px;
  list-style: none;
  background-color: pink;
  /*opacity: .8;*/
  line-height: 25px;
  text-align: center;
  font-size: 20px;
  margin-right: 3px;
}

#dropdown{
  background-color: pink;
  
  line-height: 25px;
  text-align: center;
  font-size: 20px;
}

#dropdown2{
  background-color: pink;
  text-align: center;
}

#dropdown2 a:hover{
  background-color: black;
}

ul li:hover #dropdown2{
  display: block;
}

ul li:hover #dropdown{
  display: block;
}

#dropdown a:hover{
  background-color: pink;
}

ul li a:hover{
  background-color: black;
}
 

