body{
	background: url('taekwondo 2.jpg') no-repeat /*no-repeat fixed*/;
	background-size: cover;
	font-family: Arial;
	

}
ul li{
	margin: 0px;
	padding: 0px;
	width: 200px;
	height: 41px;
	list-style: none;
	background-color: blue;
	/*opacity: .8;*/
	line-height: 25px;
	text-align: center;
	font-size: 20px;
	margin-right: 3px;
}

#dropdown{
	background-color: black;
	
	line-height: 25px;
	text-align: center;
	font-size: 20px;
}

#dropdown2{
	background-color: black;
	text-align: center;
}

#dropdown2 a:hover{
	background-color: green;
}

ul li:hover #dropdown2{
	display: block;
}

ul li:hover #dropdown{
	display: block;
}

#dropdown a:hover{
	background-color: blue;
}

ul li a:hover{
	background-color: black;
}
 

